<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="/assets_photo/img/favicon.png" rel="icon">
        <link href="/assets_photo/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="/assets_photo/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets_photo/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="/assets_photo/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="/assets_photo/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="/assets_photo/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="/assets_photo/css/style.css" rel="stylesheet">

        <!-- =======================================================
        * Template Name: Laura - v4.7.0
        * Template URL: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
        <!-- Font awesome-->
        <script src="https://kit.fontawesome.com/e48dd903ed.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        
        <!-- Vendor JS Files -->
        <script src="/assets_photo/vendor/purecounter/purecounter.js"></script>
        <script src="/assets_photo/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets_photo/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="/assets_photo/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="/assets_photo/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="/assets_photo/vendor/waypoints/noframework.waypoints.js"></script>
        {# <script src="/assets_photo/vendor/php-email-form/validate.js"></script> #}

        <!-- Template Main JS File -->
        <script src="/assets_photo/js/main.js"></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
