<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <!-- loader-->
        <link href="/assets/css/pace.min.css" rel="stylesheet"/>
        <script src="/assets/js/pace.min.js"></script>
        <!--favicon-->
        <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
        <!-- Vector CSS -->
        <link href="/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet"/>
        <!-- simplebar CSS-->
        <link href="/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
        <!-- Bootstrap core CSS-->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
        <!-- animate CSS-->
        <link href="/assets/css/animate.css" rel="stylesheet" type="text/css"/>
        <!-- Icons CSS-->
        <link href="/assets/css/icons.css" rel="stylesheet" type="text/css"/>
        <!-- Sidebar CSS-->
        <link href="/assets/css/sidebar-menu.css" rel="stylesheet"/>
        <!-- Custom Style-->
        <link href="/assets/css/app-style.css" rel="stylesheet"/>
        <!-- Font awesome-->
        <script src="https://kit.fontawesome.com/e48dd903ed.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-theme bg-theme1">
        {% block body %}{% endblock %}

        
        <!-- Bootstrap core JavaScript-->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
            
        <!-- simplebar js -->
        <script src="/assets/plugins/simplebar/js/simplebar.js"></script>
        <!-- sidebar-menu js -->
        <script src="/assets/js/sidebar-menu.js"></script>
        <!-- loader scripts -->
        <script src="/assets/js/jquery.loading-indicator.js"></script>
        <!-- Custom scripts -->
        <script src="/assets/js/app-script.js"></script>
        <!-- Chart js -->
        
        <script src="/assets/plugins/Chart.js/Chart.min.js"></script>
        
        <!-- Index js -->
        <script src="/assets/js/index.js"></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
